.card {
    background: white;
    width: 380px;
    height: 239px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #215D8C;
}

.card-body {
    padding: 13px;
}